@media only screen and (max-width: 768px){
    .site-header{
        padding: 64px 0 112px;
    }
 
    .header__logo-link{
        margin-right: 48px; 
    }

    .site__logo-img{ 
        width: 128px;
        height: 32px;
    }
}