@media only screen and (max-width: 565px){
    .site-header{
        padding: 48px 0 80px;
    }

    .header__list{
        display: none;
    }

    .header__contact{
        display: none;
    }

    .humburger-btn{
        display: block;
    }
}